version: "3"

services:
  api-prod:
    image: vikfand/strapi
    environment:
      - APP_NAME=strapi-app
      - DATABASE_CLIENT=mongo
      - DATABASE_HOST=db
      - DATABASE_NAME=strapi
      - NODE_ENV=production
    ports:
      - 1337:1337
    depends_on:
      - db
    restart: always
    env_file: .env.prod
  api-dev:
    image: vikfand/strapi-dev
    environment:
      - APP_NAME=strapi-app
      - DATABASE_CLIENT=mongo
      - DATABASE_HOST=db
      - DATABASE_NAME=strapidev
      - NODE_ENV=development
    ports:
      - 1338:1337
    depends_on:
      - db
    restart: always
    env_file: .env.dev

  db:
    image: mongo:3
    command: mongod --auth
    ports:
      - 27017:27017
    volumes:
      - ./db:/data/db
    restart: always
